node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
__pycache__/
yarn-error.log

# Since we aren't all using the same one
yarn.lock
package-lock.json

# macOS
.DS_Store
